<!DOCTYPE html>
<html lang="pt-br">
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<head>
  <title>
    Produtos
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Loja - Produtos
  </h1>
  <div class="tableContainer">
    <table>
      <tr>
        <th>Id</th>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Autor</th>
      </tr>
      <% for(var i=0; i<products.length; i++) {%>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= products[i].category %>
          </td>
          <td>
            <%= products[i].name %>
          </td>
          <td>
            <%= products[i].description %>
          </td>
          <td>
            <%= products[i].price %>
          </td>
          <td>
            <%= products[i].author %>
          </td>
        </tr>
        <% } %>
    </table>
  </div><br>
  <form method="get" action="/produto/produto-novo">
    <button type="submit">Cadastrar Produto</button>
  </form><br>
  <a href="/">Início</a>
  <br>
  <a href="/produto/produto-novo">Meus produtos</a>

</body>

</html>